<!-- bg-[#141106] -->
<!-- <main class="flex
 bg-[#170f07]
  w-full h-screen" appFlip>

  <div class="shrink-0 flex justify-center items-center flex-2" appFlip>
    <div class="px-2 sm:px-3 md:px-4 lg:px-8 w-full flex flex-col justify-center items-center">
      <h2 class="text-primary text-5xl font-normal pb-3">
        {{ 'loginPage.title' | transloco }}
      </h2>
      <p class="text-zinc-500 sm:text-sm text-xs">
        {{ 'loginPage.subTitle' | transloco }}
      </p>
      <div class="max-w-96 w-full pt-5">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-5 pt-4">
          <div class="flex flex-col">
            <label for="email" class="text-sm pb-1">{{
              'loginPage.form.identifier' | transloco
            }}</label>
            <input
              type="text"
              name="identifier"
              id="identifier"
              formControlName="identifier"
              class="border py-2.5 px-3 bg-zinc-100 border-gray-300 rounded-md placeholder:text-muted text-muted-foreground focus:outline-none focus:ring-1 focus:ring-primary"
              [placeholder]="'loginPage.form.identifierPlaceholder' | transloco"
            />
          </div>
          <div class="flex flex-col">
            <label for="password" class="text-sm pb-1">{{
              'loginPage.form.password' | transloco
            }}</label>

            <input
              type="password"
              name="password"
              formControlName="password"
              type="password"
              id="password"
              class="border py-2.5 px-3 bg-zinc-100 border-gray-300 rounded-md placeholder:text-muted text-muted-foreground focus:outline-none focus:ring-1 focus:ring-primary"
              [placeholder]="'loginPage.form.passwordPlaceholder' | transloco"
            />
            <div class="flex justify-between pt-2">
              <div class="flex gap-2 justify-center">
                <input type="checkbox" name="remember" id="remember" />
                <label for="remember" class="text-zinc-700">{{
                  'loginPage.form.rememberMe' | transloco
                }}</label>
              </div>

              <button type="button" class="capitalize text-[#5a533f] cursor-pointer">
                {{ 'loginPage.form.forgetPassword' | transloco }}
              </button>
            </div>
          </div>
          <button
            [disabled]="form.invalid || loading()"
            type="submit"
            class="w-full p-3 mt-1 rounded-md cursor-pointer hover:bg-[#46280e] bg-[#643913] text-[#F2EEE6] disabled:opacity-50"
          >
            {{
              loading()
                ? ('loginPage.form.signIn' | transloco)
                : ('loginPage.form.signIn' | transloco)
            }}
          </button>

          @if (error()) {
            <p class="text-red-500 text-sm">{{ error() }}</p>
          }
          <span
            class="text-gray-500 text-center relative after:absolute after:content-[''] after:w-5/12 after:h-px after:bg-gray-200 after:left-0 after:top-3/5 before:absolute before:content-[''] before:w-5/12 before:h-px before:bg-gray-200 before:right-0 before:top-3/5"
          >
            {{ 'loginPage.or' | transloco }}
          </span>
          <button
            class="w-full border border-[#dddbd6] py-2 text-[#e2d4c4] rounded-md flex justify-center items-center gap-2"
          >
            <img src="/icons/google-logo.png" alt="" width="26" />
            <span>
              {{ 'loginPage.signWithGoogle' | transloco }}
            </span>
          </button>
        </form>
        <div class="pt-5 text-[#e2d4c4] text-center">
          {{ 'loginPage.notUser' | transloco }}

          <span class="text-[#643913] cursor-pointer hover:text-[#46280e]">
            {{ 'loginPage.signup' | transloco }}</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="p-2 overflow-hidden hidden md:block flex-3" appFlip>
    <img
      src="/contact_page.png"
      class="w-full h-full object-cover rounded-r-lg overflow-hidden"
      alt=""
    />
  </div>
</main> -->
<div class="grid min-h-svh lg:grid-cols-2">
  <div class="flex flex-col gap-4 p-6 md:p-10">
    <div class="flex justify-center gap-2 md:justify-start">
      <a routerLink="." class="flex items-center gap-2 font-medium">
        <div
          class="bg-primary text-primary-foreground flex size-6 items-center justify-center rounded-md"
        >
          <ng-icon name="lucideGalleryVerticalEnd" class="text-base" />
        </div>
        Acme Inc.
      </a>
    </div>
    <div class="flex flex-1 items-center justify-center">
      <div class="w-full max-w-xs">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <hlm-field-group>
            <div class="flex flex-col items-center gap-1 text-center">
              <h1 class="text-2xl font-bold">Login to your account</h1>
              <p class="text-muted-foreground text-sm text-balance">
                Enter your email below to login to your account
              </p>
            </div>
            <hlm-field>
              <label hlmFieldLabel for="identifier">Identifier</label>
              <input
                hlmInput
                type="text"
                id="identifier"
                placeholder="m@example.com"
                formControlName="identifier"
                
              />
              <hlm-field-error validator="required">Email is required.</hlm-field-error>
              <hlm-field-error validator="email">Enter a valid email address.</hlm-field-error>
            </hlm-field>
            <hlm-field>
              <div class="flex items-center">
                <label hlmFieldLabel for="password">Password</label>
                <a
                  hlmFieldDescription
                  class="ml-auto text-sm underline-offset-4 hover:underline"
                  routerLink="."
                >
                  Forgot password?
                </a>
              </div>
              <input hlmInput type="password" id="password" formControlName="password" />
              <hlm-field-error validator="required">Password is required.</hlm-field-error>
              <hlm-field-error validator="minlength"
                >Password must be at least 8 characters long.</hlm-field-error
              >
            </hlm-field>
            <hlm-field>
              <button hlmBtn class="py-5" type="submit" [disabled]="form.invalid">Login</button>
            </hlm-field>
            <hlm-field-separator>Or continue with</hlm-field-separator>
            <hlm-field>
              <button hlmBtn variant="outline" class="py-5 grayscale hover:grayscale-0 transition" type="button">
                <ng-icon name="matfGoogleColored" class="text-xl" />
                Login with Google
              </button>
              <p hlmFieldDescription class="text-center">
                Don't have an account?
                <a routerLink=".">Sign up</a>
              </p>
            </hlm-field>
          </hlm-field-group>
        </form>
      </div>
    </div>
  </div>
  <div class="bg-muted relative hidden lg:block">
    <img
      src="/contact_page.png"
      alt="Image"
      class="absolute inset-0 h-full w-full object-cover brightness-60  "
    />
  </div>
</div>
