<div class="flex items-center gap-2">
  <button
    *hasPermission="editPermission()"
    class="cursor-pointer inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-8 px-3"
    (click)="edit.emit(item())"
  >
    {{ editLabel() }}
  </button>

    <button
    
      *hasPermission="editPermission()"
      class="cursor-pointer text-primary border inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 px-3"
      [class.text-destructive]="viewLabel() === 'View' || viewLabel() === 'Block'"
      (click)="view.emit(item())"
    >
      {{ viewLabel() }}
    </button>
  <button
    *hasPermission="deletePermission()"
    class="cursor-pointer inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-8 px-3"
    [class.text-destructive]="deleteLabel() === 'Delete' || deleteLabel() === 'Block'"
    (click)="delete.emit(item())"
  >
    {{ deleteLabel() }}
  </button>
</div>