:root[data-theme="burgundy"] {

  --primary: #9d2335;
  --ring: #9d2335;
  --sidebar-primary: #9d2335;
  --sidebar-ring: #9d2335;
  --background: #fcfbfb;
  --foreground: #22191b;
  --card: #ffffff;
  --card-foreground: #22191b;
  --popover: #ffffff;
  --popover-foreground: #22191b;
  --secondary: #f3ecec;
  --secondary-foreground: #22191b;
  --muted: #f8f4f4;
  --muted-foreground: #615456;
  --accent: #f3ecec;
  --accent-foreground: #22191b;
  --border: #ede3e4;
  --input: #ede3e4;
  --sidebar: #fdfbfb;
  --sidebar-foreground: #22191b;
  --sidebar-border: #ede3e4;
}
:root.dark[data-theme="burgundy"] {
  --background: #110c0d;
  --foreground: #faf7f7;
  --card: #211718;
  --card-foreground: #faf7f7;
  --popover: #211718;
  --popover-foreground: #faf7f7;
  --primary: #9d2335;
  --primary-foreground: white;
  --secondary: #2a1e20;
  --secondary-foreground: #faf7f7;
  --muted: #181213;
  --muted-foreground: #a48f93;
  --accent: #2a1e20;
  --accent-foreground: #faf7f7;
  --border: #39282a;
  --input: #39282a;
  --ring: #9d2335;
  --sidebar: #150f10;
  --sidebar-foreground: #faf7f7;
  --sidebar-primary: #9d2335;
  --sidebar-primary-foreground: white;
  --sidebar-accent: #211718;
  --sidebar-accent-foreground: #faf7f7;
  --sidebar-border: #39282a;
  --sidebar-ring: #9d2335;
}